{% extends 'base.html' %}

{% block head %} <title>Podcast Catalog</title> {% endblock %}

{% block body %}
    <div class="credits" align="right">
        <h4>Portfolio site developed by Joaquin Vasquez</h4>
        <div>
            <a href="https://twitter.com/joakin_codes" target="_blank"><img id="image" src="https://image.flaticon.com/icons/png/512/124/124021.png"/></a>
            <a href="https://www.linkedin.com/in/joaquin-vasquez-722a9373/" target="_blank"><img id="image" src="https://icons-for-free.com/iconfiles/png/512/linked+linkedin+logo+social+icon-1320191784782940875.png"/></a>
        </div>
    </div>
    <div class="my_title" align="center">
        <h1>Podcast Catalog</h1>
        <h3>Type the name of the podcast ou are looking for:</h3>
    </div>
    {% block content %}
        <div class="form" align="center">
            <form action="/index.html" method="GET">
                <div class="form-group">
                    <div class="text"> <input class="form-control form-control-lg" type="text" name="name_1"></div>
                    <div class="button">
                        <input type="submit" class="btn btn-primary btn-lg"  name="tb" value="Top 20">
                        <input type="submit" class="btn btn-primary btn-lg"  value="Search">
                        <input type="submit" class="btn btn-primary btn-lg"  name="tb" value="Bottom 20">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="JsonCheck" name="JsonCheck" value="yes">
                        <label class="form-check-label lb-lg" style="" for="JsonCheck">  Save to a Json file</label>
                    </div>
                </div>
            </form>
        </div>

        {%if name%}
            <div class="container">{{params|length}} podcasts contains the text"{{name}}" </div>
        {% endif %}
        {% if params %}
              <div class="container">
                  <div class="row">
                               {% for num in range(0,params|length) %}
                                   <div class="card">
                                       <div class="card-header align-center">
                                           <h5>Title: {{params[num].get('name')}}</h5>
                                       </div>
                                       <div class="card-body">
                                       <a href="{{params[num].get('url')}}"><img class="card-img-top" src="{{params[num].get('artworkUrl100')}}" alt=""></a>
                                       </div>
                                       <div class="card-footer">
                                           Artist: <a href="{{params[num].get('artistUrl')}}">{{params[num].get('artistName')}}</a>
                                       </div>
                                   </div>
                               {% endfor %}
                        </div>
                    </div>
              </div>
            {% endif %}
    {% endblock %}
{% endblock %}

